<p>Errors:</p>
<ul>
  <%- tweet.errors.full_messages.each do |error| %>
    <li>
      <%= error %>
    </li>
  <% end %>
</ul>

<%= form_for tweet, url: user_tweets_path do |f| %>
  <%= f.text_area(:content) %>
  <%= f.submit %>
<%- end %>