<div id="tweet">
  <p> ID: <%= tweet_var.id %> </p>
  <p> Content: <%= tweet_var.content %> </p>
  <p> <%= link_to "Delete!", user_tweet_path(tweet_var.user, tweet_var.id), :method => "delete", :data => {:confirm => "Are you sure you want to delete?"}%> </p>
  <p> <%= link_to "Edit!", edit_user_tweet_path(tweet_var.user, tweet_var.id) %> </p>
  <p> <%= link_to "Details", user_tweet_path(tweet_var.user, tweet_var.id) %> </p>  
  <hr>
</div>
