<%- if !@tweet.errors.present? %>
  $("#errors").html('');
  var tweets = $("#tweets-div");

  tweets.prepend("<%= escape_javascript(render('single_tweet', tweet_var: @tweet)) %>");

  $("#tweet-content-text").val('');
<%- else %>
  $("#errors").html("<%= escape_javascript(@tweet.errors.full_messages.join('<br>')) %>");
<%- end %>

