<%= form_for current_user do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <br>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <br>

  <%= f.label :email %>
  <%= f.text_field :email %>
  <br>

  <%= f.label :avatar %>
  <%= image_tag current_user.avatar.url(:medium) %>

  <%= f.file_field :avatar %>
  <br>
  <%= f.submit %>
<% end %>