<%- flash.each do |key, value| %>
  <ul>
    <li><%= value %></li>
  </ul>
<%- end %>

This is the user's profile:

<div class="">
  <%- if current_user != @user && user_signed_in? && !current_user.followings.include?(@user) %>
    <%= link_to "Follow this user!", user_follows_path(@user), method: :post, class: "btn btn-primary" %> 
  <% end %>

  <%- if user_signed_in? && current_user.followings.include?(@user) %>
    <%= link_to "Unfollow", user_unfollow_path(@user), method: :delete, class: "btn btn-danger" %>
  <% end %>
</div>

<br>

<div class="">
  <%= image_tag @user.avatar.url(:thumb) %>
</div>

<div><%= @user.first_name %></div>
<br>
<%= @user.last_name %>
<br>
<%= @user.email %>


<h3>Tweets</h3>

<%- if user_signed_in? %>
  <%= form_for current_user.tweets.new, url: user_tweets_path(current_user), remote: true do |f| %>
    <div id="errors"></div>

    <%= f.text_field :content, id: "tweet-content-text" %>
    <%= f.submit %>
  <% end %>
<% end %>

<div id="tweets-div">
  <%- @user.tweets.order(created_at: :desc).each do |tweet| %>
    <%= render "tweets/single_tweet", tweet_var: tweet %>
  <%- end %>
</div>
