THIS IS THE HOME PAGE

<%- if user_signed_in? %>
  <p> Hello <%= "#{current_user.first_name} #{current_user.last_name}" %> </p>
  <%= link_to "Profile", user_path(current_user) %>
  <%= link_to "Settings", edit_user_path(current_user) %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
<%- else %>
  <%= link_to "Sign in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<%- end %>
<br>
<%= link_to "All Profiles", users_path %>